/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Fredoka+One&family=Roboto:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* remove input number arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto Slab", serif;
}

main {
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: #fdfdfd;
  height: 60px;
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.226);
}
header h1 {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  color: #1b1b1b;
}
@media screen and (max-width: 1270px) {
  header {
    height: 80px;
  }
  header h1 {
    font-size: 1.6em;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}
.header__titleLink {
  display: flex;
  align-items: center;
}
.header__notConnectBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__notConnectBtns a {
  font-size: 0.9em;
  padding: 10px 0 10px;
  transition: opacity 150ms ease-in-out;
}
.header__notConnectBtns a:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.header__notConnectBtns__create {
  margin: 0 5px;
  width: 160px;
  margin-left: 15px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
}
.header__notConnectBtns__create:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .header__notConnectBtns__create {
    font-weight: 600;
    padding: 0;
    font-size: 1.1em;
    transition: none;
  }
  .header__notConnectBtns__create:hover {
    opacity: 1;
    transition: none;
  }
}
.header__connected {
  display: flex;
  align-items: center;
}
.header__connected__logoutBtn, .header__connected__toDashboard {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 5px;
  width: 160px;
  padding: 10px 0 10px;
  font-size: 0.9em;
}
.header__connected__logoutBtn:hover, .header__connected__toDashboard:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .header__connected__logoutBtn, .header__connected__toDashboard {
    font-weight: 600;
    padding: 0;
    font-size: 1.1em;
    transition: none;
  }
  .header__connected__logoutBtn:hover, .header__connected__toDashboard:hover {
    opacity: 1;
    transition: none;
  }
}
.header__connected__userProfil {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0C2E8A;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-left: 11px;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
}
.header__connected__userProfil img {
  height: 20px;
}
.header__connected__userProfil:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.header a {
  text-decoration: none;
}
.header__otherLink {
  font-weight: 600;
  text-transform: uppercase;
  color: #1b1b1b;
  transition: opacity 150ms ease-in-out;
  margin-right: 15px;
}
.header__otherLink:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .header {
    width: 750px;
  }
  .header__notConnectBtns a {
    font-size: 1em;
    padding: 20px 0px;
    transition: none;
  }
  .header__notConnectBtns a:hover {
    opacity: 1;
    transition: none;
  }
  .header__notConnectBtns__create {
    width: 200px;
  }
  .header__connected__logoutBtn, .header__connected__toDashboard {
    padding: 20px 5px;
    font-size: 1em;
  }
  .header__connected__userProfil {
    height: 57px;
    width: 57px;
    transition: none;
  }
  .header__connected__userProfil img {
    height: 27px;
  }
  .header__connected__userProfil:hover {
    opacity: 1;
    transition: none;
  }
  .header__otherLink {
    transition: none;
  }
  .header__otherLink:hover {
    opacity: 1;
    transition: none;
  }
}

#headerLogBtn {
  background: white;
  color: #1b1b1b;
  font-weight: 600;
  text-transform: uppercase;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0C2E8A;
  height: 80px;
  padding: 0 100px;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  color: #fdfdfd;
}
.footer__main h3 {
  font-size: 0.9em;
  font-weight: 300;
}
.footer__main__listCont {
  display: flex;
}
.footer__main__listCont ul {
  display: flex;
  margin-left: 40px;
}
.footer__main__listCont ul li {
  margin-left: 15px;
}
.footer__main__listCont ul a {
  text-decoration: none;
  color: inherit;
}
.footer__main__listCont ul a:hover {
  font-weight: 600;
}
.footer__main__listCont__long {
  width: 240px;
}
@media screen and (max-width: 1270px) {
  .footer {
    height: 100px;
  }
  .footer__main {
    width: 750px;
  }
  .footer__listCont ul li {
    font-size: 1.1em;
  }
  .footer__listCont ul a:hover {
    font-weight: initial;
  }
}

.backToHome {
  position: fixed;
  top: 15px;
  left: 15px;
  text-decoration: none;
  font-size: 0.9em;
  color: inherit;
}
.backToHome:hover {
  color: blue;
}
.backToHome--withHeader {
  top: 75px;
}

.dash {
  padding-top: 60px;
  background: #EEEEEE;
  min-height: 100vh;
}
.dash__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.dash__infos h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #1b1b1b;
}
.dash__infos__cont {
  display: flex;
  justify-content: space-between;
}
.dash__infos__cont__infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 250px;
  border-radius: 3px;
  padding: 27px 0 20px 0;
  margin: 0 15px;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.205);
  cursor: pointer;
}
.dash__infos__cont__infoBox h4 {
  margin-bottom: 20px;
}
.dash__infos__cont__infoBox h3 {
  font-size: 1.6em;
  font-weight: 600;
  color: #1b1b1b;
}
.dash__infos__cont__infoBox p {
  font-size: 0.8em;
  font-weight: 300;
  height: 13px;
  margin-top: 5px;
}
.dash__infos__cont__infoBox:hover {
  border: 1px solid rgba(165, 165, 165, 0.5);
}
.dash__infos__errorCont {
  color: #d80404;
  width: 810px;
  padding-bottom: 5px;
}
.dash__obj {
  width: 810px;
  height: 150px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 25px 0;
  background: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.205);
}
.dash__obj h4 {
  margin-bottom: 30px;
  font-size: 1.1em;
  text-align: center;
}
.dash__obj h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
  color: #1b1b1b;
}
.dash__obj p {
  text-align: center;
  font-weight: 300;
}
.dash__obj--success {
  background: #5CB85C;
}
.dash__obj:hover {
  border: 1px solid rgba(165, 165, 165, 0.5);
}
.dash a {
  text-decoration: none;
  color: inherit;
}
.dash__graph {
  margin: 30px 0 0;
  padding-bottom: 30px;
}
.dash__graph__mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.dash__graph__mainCont__tabs {
  display: flex;
  width: 810px;
}
.dash__graph__mainCont__tabs__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  background: rgba(128, 128, 128, 0.575);
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  cursor: pointer;
}
.dash__graph__mainCont__tabs__tab--active {
  border: none;
  z-index: 10;
  margin-bottom: -1px;
  height: 51px;
  background: #fdfdfd;
  box-shadow: none;
}
.dash__graph__mainCont__graph {
  display: flex;
  justify-content: center;
  width: 810px;
  min-height: 420px;
  border-radius: 0 3px 3px 3px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.199);
}
.dash__graph__mainCont__graph--bot {
  display: flex;
  flex-direction: column;
  background: #fdfdfd;
  margin-top: -2px;
  padding: 40px 50px;
}
.dash__graph__mainCont__graph--hidden {
  min-height: 0px;
  visibility: hidden;
  height: 0;
  padding: inherit;
}
.dash__graph__mainCont__graph__rows {
  display: flex;
  flex-direction: column;
  height: 330px;
  overflow: scroll;
  width: 100%;
}
.dash__graph__mainCont__graph__rows__row {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  height: 35px;
  text-align: center;
}
.dash__graph__mainCont__graph__rows__row:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.158);
  padding-top: 8px;
}
.dash__graph__mainCont__graph__rows__row__date {
  width: 95px;
  padding-top: 9px;
}
.dash__graph__mainCont__graph__rows__row__stats {
  width: 45px;
  padding-top: 9px;
}
.dash__graph__mainCont__graph__rows__row__nav {
  font-weight: 600;
  color: #1b1b1b;
  padding-top: 9px;
}
.dash__graph__mainCont__graph__rows__row__btnCont {
  padding-top: 9px;
  width: 20px;
}
.dash__graph__mainCont__graph__rows__row__btnCont__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: #0C2E8A;
  transition: all 150ms ease-in-out;
}
.dash__graph__mainCont__graph__rows__row__btnCont__btn img {
  width: 8px;
}
.dash__graph__mainCont__graph__rows__row__btnCont__btn:hover {
  background: #d80404;
  transition: all 150ms ease-in-out;
}
.dash__graph__mainCont__graphNav {
  display: flex;
  align-items: center;
  z-index: 5;
  width: 810px;
  padding-top: 5px;
  background: #fdfdfd;
  margin-bottom: -2px;
}
.dash__graph__mainCont__graphNav__graphSelectType {
  margin-left: 15px;
}
.dash__graph__mainCont__graphNav__graphSelectType select {
  height: 30px;
  width: 120px;
  border: 1px solid black;
  padding-left: 15px;
}
.dash__graph__mainCont__graphNav--hidden {
  display: none;
}
@media screen and (max-width: 1270px) {
  .dash {
    min-height: 96vh;
  }
  .dash__infos {
    margin-top: 50px;
    width: 100%;
  }
  .dash__infos__cont {
    width: 90%;
  }
  .dash__infos__cont__infoBox {
    margin: initial;
  }
  .dash__infos__cont__infoBox:hover {
    border: none;
  }
  .dash__obj {
    width: 90%;
  }
  .dash__obj__link {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .dash__obj:hover {
    border: none;
  }
  .dash__graph {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .dash__graph__mainCont {
    width: 90%;
  }
  .dash__graph__mainCont__tabs {
    width: 100%;
  }
  .dash__graph__mainCont__tabs__tab {
    height: 80px;
    width: 180px;
    font-size: 1.1em;
    font-weight: 600;
  }
  .dash__graph__mainCont__graph {
    width: 100%;
  }
  .dash__graph__mainCont__graph--bot {
    height: auto;
  }
  .dash__graph__mainCont__graph__rows {
    height: auto;
    overflow: initial;
  }
  .dash__graph__mainCont__graph__rows__row {
    height: 45px;
  }
  .dash__graph__mainCont__graph__rows__row__btnCont {
    display: flex;
    align-items: center;
    width: 40px;
    height: 45px;
    padding-top: 0;
  }
  .dash__graph__mainCont__graph__rows__row__btnCont__btn {
    height: 30px;
    width: 30px;
    transition: none;
  }
  .dash__graph__mainCont__graph__rows__row__btnCont__btn:hover {
    transition: none;
    background: #0C2E8A;
  }
  .dash__graph__mainCont__graphNav {
    width: 100%;
  }
  .dash__graph__mainCont__graphNav__graphSelectType select {
    height: 50px;
    width: 150px;
  }
}

.dashAddWeight {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.725);
}
.dashAddWeight__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fdfdfd;
  padding: 50px 30px 30px;
  border-radius: 5px;
}
.dashAddWeight__modal h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 40px 0 60px;
}
.dashAddWeight__modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.dashAddWeight__modal__form label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.dashAddWeight__modal__form input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.dashAddWeight__modal__form label {
  font-weight: 600;
  font-size: 1.15em;
  margin-bottom: 12px;
}
.dashAddWeight__modal__form__error {
  width: 100%;
  height: 14px;
  margin-left: 30px;
  color: #d80404;
  margin-bottom: 5px;
}
.dashAddWeight__modal__form__submitBtn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  width: 140px;
  padding: inherit;
  padding-right: 15px;
}
.dashAddWeight__modal__form__submitBtn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.dashAddWeight__modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
}
.dashAddWeight__modal__close:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.dashAddWeight--hidden {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home__basics {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  background-image: url("../assets/home-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.home__basics h1 {
  font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 2em;
  margin: 0 0 50px;
}
.home__basics h2 {
  margin-bottom: 30px;
}
.home__basics__toDash {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  width: 600px;
}
.home__basics__toDash:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .home__basics__toDash {
    font-weight: 600;
    padding: 0;
    font-size: 1.1em;
    transition: none;
  }
  .home__basics__toDash:hover {
    opacity: 1;
    transition: none;
  }
}
.home__basics__notConnectBtns {
  display: flex;
  justify-content: space-between;
}
.home__basics__notConnectBtns a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px 25px 0;
  width: 180px;
}
.home__basics__notConnectBtns a:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .home__basics__notConnectBtns a {
    font-weight: 600;
    padding: 0;
    font-size: 1.1em;
    transition: none;
  }
  .home__basics__notConnectBtns a:hover {
    opacity: 1;
    transition: none;
  }
}
.home__basics__para {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: #1b1b1b;
}
.home__basics__scrollBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  background: rgba(253, 253, 253, 0.6);
  height: 50px;
  width: 50px;
  border: 3px solid rgba(27, 27, 27, 0.9);
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}
.home__basics__scrollBtn img {
  object-fit: cover;
  width: 25px;
}
.home__basics__scrollBtn:hover {
  opacity: 0.7;
  transition: opacity 100ms ease-in-out;
}
.home__faq {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background: #EEEEEE;
}
.home__faq__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__faq__cont__main {
  position: relative;
  background: #0C2E8A;
  color: #fdfdfd;
  width: 380px;
  margin: 0 15px;
  height: 380px;
  padding: 45px 30px 30px;
  border-radius: 2px;
}
.home__faq__cont__main h2 {
  font-weight: 600;
  font-size: 2.2em;
  margin-bottom: 35px;
}
.home__faq__cont__main p {
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.home__faq__cont__main__btnCont {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.home__faq__cont__main__btnCont__link {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  background: rgba(253, 253, 253, 0.3);
  color: #fdfdfd;
  text-decoration: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.home__faq__cont__main__btnCont__link:hover {
  transition: all 200ms ease-in-out;
  background: #fdfdfd;
  color: #0C2E8A;
}
.home__faq__cont__steps {
  display: flex;
}
.home__faq__cont__steps__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  width: 250px;
  margin: 0 15px;
  height: 300px;
  border-radius: 2px;
  padding: 25px 25px 30px;
  transition: transform 300ms ease-in-out;
}
.home__faq__cont__steps__step__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.home__faq__cont__steps__step__img img {
  height: 40px;
}
.home__faq__cont__steps__step h3 {
  font-weight: 600;
}
.home__faq__cont__steps__step p {
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.4px;
}
.home__faq__cont__steps__step:hover {
  transform: scale(110%);
  transition: transform 300ms ease-in-out;
}
.home__bmiBfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.home__bmiBfp h2 {
  margin: 50px 0 70px;
  font-weight: 600;
  font-size: 1.4em;
}
.home__bmiBfp__calculLink {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin-bottom: 40px;
  height: 150px;
}
.home__bmiBfp__calculLink a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EEEEEE;
  padding: 15px;
  min-width: 150px;
  width: 150px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  transition: all 150ms ease-out;
  border-radius: 3px;
}
.home__bmiBfp__calculLink a:hover {
  background: white;
  border: 1px solid black;
  transition: all 150ms ease-out;
}
.home__bmiBfp__calculLink__para {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.home__bmiBfp__calculLink__para p {
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin: 5px 0;
}
@media screen and (max-width: 1270px) {
  .home__basics h1 {
    font-size: 2.3em;
  }
  .home__basics__toDash {
    padding: 30px 0;
  }
  .home__basics__notConnectBtns a {
    padding: 30px 0;
  }
  .home__basics__scrollLink {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .home__basics__scrollBtn {
    transition: none;
    height: 80px;
    width: 80px;
    bottom: 30px;
  }
  .home__basics__scrollBtn img {
    width: 40px;
  }
  .home__basics__scrollBtn:hover {
    transition: none;
    opacity: 1;
  }
  .home__faq {
    height: auto;
  }
  .home__faq__cont {
    flex-direction: column;
  }
  .home__faq__cont__main {
    width: 500px;
    margin-top: 100px;
  }
  .home__faq__cont__main__btnCont__link {
    height: 50px;
    transition: none;
  }
  .home__faq__cont__main__btnCont__link:hover {
    background: rgba(253, 253, 253, 0.3);
    color: #fdfdfd;
    transition: none;
  }
  .home__faq__cont__steps {
    width: 100%;
    margin: 30px 0;
  }
  .home__faq__cont__steps__step {
    width: 30%;
    transition: none;
  }
  .home__faq__cont__steps__step:hover {
    transform: scale(100%);
    transition: none;
  }
  .home__bmiBfp__calculLink {
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }
  .home__bmiBfp__calculLink a {
    border: 1px solid black;
    min-width: 250px;
    width: 250px;
    padding: 25px 0;
    transition: none;
  }
  .home__bmiBfp__calculLink a:hover {
    background: #EEEEEE;
    transition: none;
  }
  .home__bmiBfp__calculLink__para {
    width: 700px;
    margin-bottom: 30px;
  }
  .home__bmiBfp__calculLink__para p {
    font-size: 1.1em;
  }
}

.bmi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  background: #EEEEEE;
  min-height: 100vh;
}
.bmi h2 {
  margin: 20px 0 80px;
  font-family: "Fredoka One", cursive;
  font-size: 2em;
  color: #0C2E8A;
}
.bmi__userSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 600px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.151);
  margin-bottom: 50px;
}
.bmi__userSection__subTitle {
  font-size: 1.1em;
}
.bmi__userSection h3 {
  font-weight: 700;
  color: #1b1b1b;
  font-size: 2em;
  margin: 10px 0 70px;
}
.bmi__userSection h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0 70px;
}
.bmi__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 600px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.151);
  margin-bottom: 50px;
}
.bmi__tools p {
  line-height: 1.4;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.bmi__tools__form {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
}
.bmi__tools__form__cont {
  display: flex;
  justify-content: space-around;
}
.bmi__tools__form__cont__field {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.bmi__tools__form__cont__field label {
  font-size: 0.9em;
  margin-bottom: 8px;
}
.bmi__tools__form__cont__field input {
  height: 35px;
  width: 171px;
  padding-left: 15px;
}
.bmi__tools__form__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.bmi__tools__form__btnCont input {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 100px;
}
.bmi__tools__form__btnCont input:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.bmi__tools__error {
  color: #d80404;
  width: 90%;
  margin: 30px 0 5px;
}
.bmi__tools__results {
  text-align: center;
}
.bmi__tools__results__score {
  font-size: 2.4em;
  font-weight: 600;
  color: #0C2E8A;
}
.bmi__tools__results--hidden {
  display: none;
}
.bmi__tools__interpretation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.bmi__tools__interpretation h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 30px 0 20px;
}
.bmi__tools__interpretation__array {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  color: #1b1b1b;
}
.bmi__tools__interpretation__array__row {
  display: flex;
  padding: 0 15px;
  align-items: center;
  height: 40px;
}
.bmi__tools__interpretation__array__row p {
  line-height: inherit;
  margin-bottom: 0;
}
.bmi__tools__interpretation__array__row--alt {
  background: #0C2E8A;
  color: #fdfdfd;
}
.bmi__tools__interpretation__array__row__score {
  text-align: end;
  width: 55%;
  padding-right: 35px;
  font-size: 1.1em;
  font-weight: 600;
}

.bfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  background: #EEEEEE;
  min-height: 100vh;
}
.bfp h2 {
  margin: 20px 0 80px;
  font-family: "Fredoka One", cursive;
  font-size: 2em;
  color: #0C2E8A;
}
.bfp__userSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 600px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.151);
  margin-bottom: 50px;
}
.bfp__userSection__subTitle {
  font-size: 1.1em;
}
.bfp__userSection h3 {
  font-weight: 700;
  color: #1b1b1b;
  font-size: 2em;
  margin: 10px 0 70px;
}
.bfp__userSection h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0 70px;
}
.bfp__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 600px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.151);
  margin-bottom: 50px;
}
.bfp__tools p {
  line-height: 1.4;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.bfp__tools__form {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
}
.bfp__tools__form__cont {
  display: flex;
  justify-content: space-around;
}
.bfp__tools__form__cont__field {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.bfp__tools__form__cont__field label {
  font-size: 0.9em;
  margin-bottom: 8px;
}
.bfp__tools__form__cont__field input {
  height: 35px;
  width: 171px;
  padding-left: 15px;
}
.bfp__tools__form__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.bfp__tools__form__btnCont input {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 100px;
}
.bfp__tools__form__btnCont input:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.bfp__tools__error {
  color: #d80404;
  width: 90%;
  margin: 30px 0 5px;
}
.bfp__tools__results {
  text-align: center;
}
.bfp__tools__results__score {
  font-size: 2.4em;
  font-weight: 600;
  color: #0C2E8A;
}
.bfp__tools__results--hidden {
  display: none;
}
.bfp__tools__interpretation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.bfp__tools__interpretation h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 30px 0 20px;
}
.bfp__tools__interpretation__array {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  color: #1b1b1b;
}
.bfp__tools__interpretation__array__row {
  display: flex;
  padding: 0 15px;
  align-items: center;
  height: 40px;
}
.bfp__tools__interpretation__array__row p {
  line-height: inherit;
  margin-bottom: 0;
}
.bfp__tools__interpretation__array__row--alt {
  background: #0C2E8A;
  color: #fdfdfd;
}
.bfp__tools__interpretation__array__row__score {
  text-align: end;
  width: 55%;
  padding-right: 35px;
  font-size: 1.1em;
  font-weight: 600;
}
.bfp__tools span {
  letter-spacing: initial;
  font-weight: 300;
}
.bfp__tools li {
  list-style: square;
  margin-left: 12px;
}
.bfp__tools__form__cont {
  margin-top: 20px;
}
.bfp__tools__form select {
  height: 35px;
  width: 171px;
  padding-left: 15px;
}
.bfp__tools__interpretation h4 {
  margin: 20px 0 15px;
  font-weight: 600;
}
.bfp__tools__disclaimer {
  margin-top: 30px;
  font-size: 0.8em;
  font-weight: 300;
}

.obj {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  background: #EEEEEE;
  min-height: 100vh;
}
.obj h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 25px;
  color: #1b1b1b;
}
.obj__current {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 40px;
  width: 580px;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.137);
}
.obj__current__cont {
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 3px;
  width: 500px;
  padding: 20px 0;
  margin: 20px 0 10px;
}
.obj__current__cont h3 {
  text-align: center;
}
.obj__change {
  background: white;
  padding: 40px;
  width: 580px;
  margin: 50px 0;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.185);
}
.obj__change__tabs {
  display: flex;
  margin-top: 50px;
}
.obj__change__tabs__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 166.67px;
  height: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background: #fdfdfd;
  transition: opacity 150ms ease-in-out;
}
.obj__change__tabs__tab:first-child {
  border-left: 1px solid black;
}
.obj__change__tabs__tab--active {
  font-weight: 600;
  background: #0C2E8A;
  color: #fdfdfd;
}
.obj__change__tabs__tab:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.obj__change__tabsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  max-width: 501px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.obj__change__tabsCont--hidden {
  display: none;
}
.obj__change__tabsCont__errorCont {
  color: #d80404;
  font-size: 0.9em;
}
.obj__change__tabsCont label {
  font-weight: 600;
  font-size: 1.05em;
  margin: 20px 0 10px;
}
.obj__change__tabsCont__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.obj__change__tabsCont__input input {
  width: 250px;
  height: 40px;
  margin: 20px 0;
  padding-left: 15px;
}
.obj__change__tabsCont__submitBtnCont {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}
.obj__change__tabsCont__submitBtnCont__btn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 120px;
}
.obj__change__tabsCont__submitBtnCont__btn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.obj__change__errCont {
  color: #d80404;
  width: 580px;
}
.obj__old {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 40px;
  width: 580px;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.185);
  margin-bottom: 40px;
}
.obj__old__card {
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px 0;
  line-height: 1.4;
}

.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEEEEE;
  height: 100vh;
}
.log h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
}
.log__error {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #d80404;
  line-height: 1.3;
  padding-bottom: 5px;
  height: 200px;
  width: 280px;
}
.log__form {
  background: white;
  width: 320px;
  padding: 40px 20px;
  border-radius: 3px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.205);
}
.log__form__email, .log__form__password {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 250px;
  margin-bottom: 18px;
}
.log__form__email label, .log__form__password label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.log__form__email input, .log__form__password input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.log__form__email p, .log__form__password p {
  font-weight: 300;
  font-size: 0.85em;
  margin-top: 10px;
}
.log__form__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.log__form__btnCont__submitBtn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 160px;
}
.log__form__btnCont__submitBtn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.log__form__captcha {
  display: flex;
  justify-content: center;
  width: 100%;
}
.log__notConnected {
  margin-top: 200px;
}
.log__notConnected__linkCont {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.log__notConnected__linkCont a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  width: 160px;
}
.log__notConnected__linkCont a:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .log__notConnected__linkCont a {
    font-weight: 600;
    padding: 0;
    font-size: 1.1em;
    transition: none;
  }
  .log__notConnected__linkCont a:hover {
    opacity: 1;
    transition: none;
  }
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEEEEE;
  height: 100vh;
}
.sign h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
}
.sign__error {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #d80404;
  line-height: 1.3;
  padding-bottom: 5px;
  height: 150px;
  width: 560px;
}
.sign__form {
  background: white;
  width: 600px;
  padding: 40px 20px;
  border-radius: 3px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.247);
}
.sign__form__logs {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.sign__form__logs__email, .sign__form__logs__password {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 250px;
}
.sign__form__logs__email label, .sign__form__logs__password label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__logs__email input, .sign__form__logs__password input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.sign__form__name {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.sign__form__name__firstname, .sign__form__name__birthday {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 250px;
}
.sign__form__name__firstname label, .sign__form__name__birthday label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__name__firstname input, .sign__form__name__birthday input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.sign__form__stats {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.sign__form__stats__size, .sign__form__stats__weight {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 180px;
}
.sign__form__stats__size label, .sign__form__stats__weight label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__stats__size input, .sign__form__stats__weight input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.sign__form__stats__sexe {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 110px;
}
.sign__form__stats__sexe label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__stats__sexe select {
  height: 40px;
  padding-left: 15px;
  border-color: rgba(165, 165, 165, 0.5);
  background-color: white;
}
.sign__form__checkCont {
  margin-left: 15px;
  margin-bottom: 30px;
}
.sign__form__btnCont {
  display: flex;
  justify-content: center;
  margin: 0 15px;
}
.sign__form__btnCont__submitBtn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 180px;
}
.sign__form__btnCont__submitBtn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.sign__form__captcha {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.sign__notConnected {
  margin-top: 200px;
}
.sign__notConnected__linkCont {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.sign__notConnected__linkCont a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  width: 160px;
}
.sign__notConnected__linkCont a:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .sign__notConnected__linkCont a {
    font-weight: 600;
    padding: 0;
    font-size: 1.1em;
    transition: none;
  }
  .sign__notConnected__linkCont a:hover {
    opacity: 1;
    transition: none;
  }
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  min-height: 92vh;
}
.profil h2 {
  font-size: 2.2em;
  font-weight: 600;
  margin: 80px 0 10px;
  color: #1b1b1b;
}
.profil h3 {
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  margin: 40px 0 20px;
}
.profil__nav {
  display: flex;
  flex-direction: column;
}
.profil__nav__subTitle {
  font-size: 0.9em;
  margin-bottom: 70px;
  text-align: center;
}
.profil__nav__btn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  margin: 20px 0;
  width: 260px;
}
.profil__nav__btn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.profil__nav__deleteBtn {
  transition: all 170ms ease-in-out;
}
.profil__nav__deleteBtn:hover {
  opacity: 1;
  background: #d80404;
  transition: all 170ms ease-in-out;
}
.profil__nav--hidden {
  display: none;
}
.profil__nav__errorCont {
  width: 260px;
  color: #d80404;
}
.profil__modify {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 500px;
}
.profil__modify__errorCont {
  min-height: 15px;
  color: #d80404;
  text-align: center;
}
.profil__modify__form {
  margin-top: 25px;
}
.profil__modify__form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 250px;
}
.profil__modify__form__row label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.profil__modify__form__row input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.profil__modify__form__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.profil__modify__form__btnCont__btn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 100px;
  margin: 0 10px;
}
.profil__modify__form__btnCont__btn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.profil__modify--hidden {
  display: none;
}
.profil__modify select {
  height: 40px;
  padding-left: 15px;
}
.profil__modifyPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 500px;
}
.profil__modifyPassword__errorCont {
  min-height: 15px;
  color: #d80404;
  text-align: center;
}
.profil__modifyPassword__form {
  margin-top: 25px;
}
.profil__modifyPassword__form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 250px;
}
.profil__modifyPassword__form__row label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.profil__modifyPassword__form__row input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.profil__modifyPassword__form__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.profil__modifyPassword__form__btnCont__btn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 100px;
  margin: 0 10px;
}
.profil__modifyPassword__form__btnCont__btn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.profil__modifyPassword--hidden {
  display: none;
}
.profil__delete {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.76);
}
.profil__delete__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fdfdfd;
  padding: 30px 35px;
  border-radius: 3px;
  text-align: center;
}
.profil__delete__modal h2 {
  font-size: 1.7em;
  margin-top: 0;
}
.profil__delete__modal p {
  font-weight: 600;
  color: #d80404;
}
.profil__delete__modal__btnCont {
  display: flex;
  justify-content: center;
  width: 100%;
}
.profil__delete__modal__btnCont__btn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 0;
  width: 100px;
  margin: 45px 10px 0;
  color: #fdfdfd;
}
.profil__delete__modal__btnCont__btn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.profil__delete__modal__btnCont__btn--deleteBtn {
  background: #d80404;
}
.profil__delete--hidden {
  display: none;
}

#successMsg {
  color: #5CB85C;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  background: #EEEEEE;
  min-height: 92vh;
}
.contact h2 {
  font-size: 2em;
  font-weight: 600;
  color: #1b1b1b;
  margin: 25px 0 60px;
}
.contact__section {
  width: 810px;
  background: #fdfdfd;
  padding: 25px 40px 50px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.contact__section__errorCont {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #d80404;
  min-height: 60px;
  padding-bottom: 40px;
  line-height: 1.4;
  letter-spacing: 0.3px;
}
.contact__section__form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contact__section__form__top__email, .contact__section__form__top__name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact__section__form__top__email label, .contact__section__form__top__name label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.contact__section__form__top__email input, .contact__section__form__top__name input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.contact__section__form__top__email {
  margin-right: 30px;
}
.contact__section__form__subject {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact__section__form__subject label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.contact__section__form__subject input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.contact__section__form__text {
  display: flex;
  flex-direction: column;
}
.contact__section__form__text label {
  padding-bottom: 5px;
}
.contact__section__form__text__message {
  resize: vertical;
  min-height: 200px;
}
.contact__section__form__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.contact__section__form__btnCont__btn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
}
.contact__section__form__btnCont__btn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}

.cgu {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  min-height: 100vh;
}
.cgu__section {
  width: 1080px;
  color: #1b1b1b;
  margin-bottom: 70px;
}
.cgu__section h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
}
.cgu__section h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.1px;
  margin: 40px 0;
}
.cgu__section p {
  font-size: 1.1em;
  line-height: 1.4;
  letter-spacing: 0.3px;
}
.cgu__section__started {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  margin: 50px 0 40px;
}
.cgu__section__space {
  margin-bottom: 35px;
}

.forgotten {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEEEEE;
  height: 100vh;
}
.forgotten h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
}
.forgotten__errorCont {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #d80404;
  line-height: 1.3;
  padding-bottom: 5px;
  height: 200px;
  width: 280px;
}
.forgotten__form {
  background: white;
  width: 320px;
  padding: 40px 20px;
  border-radius: 3px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.205);
}
.forgotten__form__row {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 250px;
  margin-bottom: 18px;
}
.forgotten__form__row label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.forgotten__form__row input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.forgotten__form__row p {
  font-weight: 300;
  font-size: 0.85em;
  margin-top: 10px;
}
.forgotten__form__btnCont {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.forgotten__form__btnCont__submitBtn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  width: 160px;
}
.forgotten__form__btnCont__submitBtn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.forgotten__notConnected {
  margin-top: 200px;
}
.forgotten__notConnected__linkCont {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.forgotten__notConnected__linkCont a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  width: 160px;
}
.forgotten__notConnected__linkCont a:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
@media screen and (max-width: 1270px) {
  .forgotten__notConnected__linkCont a {
    font-weight: 600;
    padding: 0;
    font-size: 1.1em;
    transition: none;
  }
  .forgotten__notConnected__linkCont a:hover {
    opacity: 1;
    transition: none;
  }
}

.notFound {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notFound h1 {
  font-size: 2.4em;
  font-weight: 600;
  margin-bottom: 50px;
}
.notFound__btn button {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
}
.notFound__btn button:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
