/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto Slab", serif;
}

main {
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: #fdfdfd;
  height: 60px;
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.336);
}
header h1 {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  color: #1b1b1b;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1480px;
}
.header__logoutBtn {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 5px;
  width: 160px;
  padding: 10px 0 10px;
  font-size: 0.9em;
}
.header__logoutBtn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.header__notConnectBtns {
  display: flex;
  justify-content: space-between;
}
.header__notConnectBtns a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 5px;
  width: 160px;
  padding: 10px 0 10px;
  font-size: 0.9em;
}
.header__notConnectBtns a:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}

#headerLogBtn {
  background: white;
  color: #1b1b1b;
}

.dash__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash__infos__cont {
  display: flex;
  justify-content: space-between;
}
.dash__infos__cont__infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 0 15px;
}
.dash__infos__cont__infoBox h4 {
  margin-bottom: 20px;
}
.dash__infos__cont__infoBox h3 {
  font-size: 1.6em;
  font-weight: 600;
}
.dash__obj {
  width: 810px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 30px;
  padding: 15px;
}
.dash__obj h4 {
  margin-bottom: 30px;
  font-size: 1.1em;
  text-align: center;
}
.dash__obj h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
.dash__obj p {
  text-align: center;
}
.dash__link {
  text-decoration: none;
  color: inherit;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home__basics {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background-image: url("../assets/home-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.home__basics h1 {
  font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 2em;
  margin: 0 0 50px;
}
.home__basics h2 {
  margin-bottom: 30px;
}
.home__basics__toDash {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  width: 600px;
}
.home__basics__toDash:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.home__basics__notConnectBtns {
  display: flex;
  justify-content: space-between;
}
.home__basics__notConnectBtns a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px 25px 0;
  width: 180px;
}
.home__basics__notConnectBtns a:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}
.home__basics__para {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: #1b1b1b;
}
.home__basics__scrollBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  background: rgba(253, 253, 253, 0.6);
  height: 50px;
  width: 50px;
  border: 3px solid rgba(27, 27, 27, 0.9);
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}
.home__basics__scrollBtn img {
  object-fit: cover;
  width: 25px;
}
.home__basics__scrollBtn:hover {
  opacity: 0.7;
  transition: opacity 100ms ease-in-out;
}

.obj {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.obj__current {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.obj__current h2 {
  font-size: 1.2em;
}
.obj__current__cont {
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  padding: 20px 0;
  margin: 20px 0 70px;
}
.obj__current__cont h3 {
  text-align: center;
}
.obj__change h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 25px;
}
.obj__change__tabs {
  display: flex;
}
.obj__change__tabs__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background: cyan;
}
.obj__change__tabs__tab:first-child {
  border-left: 1px solid black;
}
.obj__change__tabs__tab--active {
  font-weight: 600;
  background: red;
}
.obj__change__tabs__tab:hover {
  opacity: 0.7;
}
.obj__change__tabsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  max-width: 450px;
}
.obj__change__tabsCont--hidden {
  display: none;
}
.obj__change__tabsCont__errorCont {
  color: #d80404;
  font-size: 0.9em;
}
.obj__change__tabsCont__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.obj__change__tabsCont__input input {
  width: 320px;
  height: 30px;
  margin: 20px 0;
}
.obj__change__tabsCont__btn {
  width: 320px;
  height: 35px;
  border: 5px solid black;
  border-radius: 7px;
  font-size: 1em;
  background: white;
  cursor: pointer;
}
.obj__change__tabsCont__btn:hover {
  background: indigoe;
}
.obj__old {
  display: flex;
  flex-direction: column;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign__back {
  position: absolute;
  top: 15px;
  left: 15px;
  text-decoration: none;
  font-size: 0.9em;
  color: inherit;
}
.sign__back:hover {
  color: blue;
}
.sign h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
}
.sign__error {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #d80404;
  line-height: 1.3;
  padding: 25px 15px;
  height: 200px;
  width: 560px;
}
.sign__form__logs {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.sign__form__logs__email, .sign__form__logs__password {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 250px;
}
.sign__form__logs__email label, .sign__form__logs__password label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__logs__email input, .sign__form__logs__password input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.sign__form__name {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.sign__form__name__firstname, .sign__form__name__birthday {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 250px;
}
.sign__form__name__firstname label, .sign__form__name__birthday label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__name__firstname input, .sign__form__name__birthday input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.sign__form__stats {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}
.sign__form__stats__size, .sign__form__stats__weight {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 180px;
}
.sign__form__stats__size label, .sign__form__stats__weight label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__stats__size input, .sign__form__stats__weight input {
  height: 40px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  padding-left: 15px;
}
.sign__form__stats__sexe {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 110px;
}
.sign__form__stats__sexe label {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.sign__form__stats__sexe select {
  height: 40px;
  padding-left: 15px;
  border-color: rgba(165, 165, 165, 0.5);
  background-color: white;
}
.sign__form__checkCont {
  margin-left: 15px;
  margin-bottom: 30px;
}
.sign__form__btnCont {
  display: flex;
  justify-content: start;
  margin: 0 15px;
}
.sign__form__btnCont__submitBtn {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2px;
  padding: 15px 0;
  background: #0C2E8A;
  color: #fdfdfd;
  transition: opacity 150ms ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  width: 180px;
}
.sign__form__btnCont__submitBtn:hover {
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
