header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 60px;
    margin-bottom: 20px;
    width: 100%;
    h1 {
        font-size: 1.4em;
        font-weight: 600;
    }
}