header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: map-get($map: $colors, $key: lightWhite);
    height: 60px;
    width: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.226);
    h1 {
        display: flex;
        align-items: center;
        font-size: 1.4em;
        font-weight: 600;
        color: map-get($map: $colors, $key:lightBlack );
    }
    @include forTablet {
        height: 80px;
        h1 {
            font-size: 1.6em;
        }
    }
    @include forMobile {
        z-index: 100;
        height: auto;
        width: 100%;
        box-shadow: initial;
        background-color: initial;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    &__titleLink {
        display: flex;
        align-items: center
    }
    &__notConnectBtns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-size: 0.9em;
            padding: 10px 0 10px;
            transition: opacity 150ms ease-in-out;
            &:hover {
                opacity: 0.7;
                transition: opacity 150ms ease-in-out;
            }
        }
        &__create {
            margin: 0 5px;
            width: 160px;
            margin-left: 15px;
            @include homeBtn;
        }
    }
    &__connected {
        display: flex;
        align-items: center;
        &__logoutBtn, &__toDashboard {
            @include homeBtn;
            margin: 0 5px;
            width: 160px;
            padding: 10px 0 10px;
            font-size: 0.9em;
        }
        &__userProfil {
            display: flex;
            align-items: center;
            justify-content: center;
            background: map-get($map: $colors, $key: primary);
            height: 34px;
            width: 34px;
            border-radius: 50%;
            margin-left: 11px;
            cursor: pointer;
            transition: opacity 150ms ease-in-out;
            img {
                height: 20px;
            }
            &:hover {
                opacity: 0.7;
                transition: opacity 150ms ease-in-out;
            }
        }
    }
    a {
        text-decoration: none
    }
    &__otherLink {
        font-weight: 600;
        text-transform: uppercase;
        color: map-get($map: $colors, $key: lightBlack);
        transition: opacity 150ms ease-in-out;
        margin-right: 15px;
        &:hover {
            opacity: 0.7;
            transition: opacity 150ms ease-in-out;
        }
    }
    @include forTablet {
        width: 750px;
        &__notConnectBtns {
            a {
                font-size: 1em;
                padding: 20px 0px;
                transition: none;
                &:hover {
                    opacity: 1;
                    transition: none;
                }
            }
            &__create {
                width: 200px;
            }
        }
        &__connected {
            &__logoutBtn, &__toDashboard {
                padding: 20px 5px;
                font-size: 1em;
            }
            &__userProfil {
                height: 57px;width: 57px;
                transition: none;
                img {
                    height: 27px;
                }
                &:hover {
                    opacity: 1;
                    transition: none;
                }
            }
        }
        &__otherLink {
            transition: none;
            &:hover {
                opacity: 1;
                transition: none;
            }
        }
    }
    @include forMobile {
        flex-direction: column;
        justify-content: start;
        width: 100%;
        background: map-get($map: $colors, $key:lightWhite );
        height: 100vh;
        h1, &__titleLink {
            display: block;
            text-align: end;
            margin: 30px 15px 0 0 ;
            font-size: 1.7em;
        }
        &__titleLink {
            font-size: 1.2em;
            margin-top: 0;
        }
        &--mobile {
            display: none;
        }
        &__notConnectBtns, &__connected {
            flex-direction: column;
            margin-top: 80px;
            a {
                width: 90%;
                margin-top: 50px;
                font-size: 1.2em;
            }
        }
        &__notConnectBtns__create {
            margin: 0;
        }
        &__connected {
            &__logoutBtn, &__toDashboard {
                width: 90%;
            }
            a {
                width: 90%;
            }
            &__userProfil {
                width: 100%;
                border-radius: 3px;
                margin-left: 0;
            }
        }
        &__otherLink {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            border: 1px solid black;
            border-radius: 3px;
            height: 59px;
            margin-right: 0;
        }
    }
}

.hambMenu {
    position: relative;
    display: none;
    &__hambBtn ,&__closeBtn {
        display: none;
        img {
            height: 70px;
        }
    }
    @include forMobile {
        display: block;
        &__hambBtn ,&__closeBtn  {
            z-index: 1000;
            display: block;
            position: fixed;
            top: 10px;
            left: 10px;
            &--hidden {
                display: none;
            }
        }
        &__closeBtn {
            left: 18px;
        }
    }
}

#headerLogBtn {
    background: white;
    color: map-get($map: $colors, $key:lightBlack );
    font-weight: 600;
    text-transform: uppercase;
    @include forMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        border: 1px solid black;
        border-radius: 3px;
        height: 59px;
        margin-right: 0;
    }
}