.dash {
    padding-top: 60px;
    background: map-get($colors, primaryBackground);
    min-height: 100vh;
    &__infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        h2 {
            font-family: 'Roboto Slab', serif;
            font-size: 1.7em;
            font-weight: 600;
            margin-bottom: 40px;
            text-transform: uppercase;
            color: map-get($map: $colors, $key: lightBlack);
        }
        &__cont {
            display: flex;
            justify-content: space-between;
            &__infoBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 140px;
                width: 250px;
                border-radius: 3px;
                padding: 27px 0 20px 0;
                margin: 0 15px;
                background-color: white;
                box-shadow: 0 3px 20px rgba(0, 0, 0, 0.205);
                cursor: pointer;
                h4 {
                    margin-bottom: 20px;
                }
                h3 {
                    font-size: 1.6em;
                    font-weight: 600;
                    color: map-get($map: $colors, $key: lightBlack);
                }
                p {
                    font-size: 0.8em;
                    font-weight: 300;
                    height: 13px;
                    margin-top: 5px;
                }
                &:hover {
                    border: 1px solid map-get($map: $colors, $key: transLightGray);
                }
            }
        }
        &__errorCont {
            color: map-get($map: $colors, $key: error);
            width: 810px;
        }
    }
    &__obj {
        width: 810px;
        height: 150px;
        border-radius: 5px;
        margin-top: 30px;
        padding: 25px 0 ;
        background: white;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.205);
        h4 {
            margin-bottom: 30px;
            font-size: 1.1em;
            text-align: center;
        }
        h3 {
            font-size: 1.3em;
            font-weight: 600;
            margin-bottom: 15px;
            text-align: center;
            color: map-get($map: $colors, $key: lightBlack);
        }
        p {
            text-align: center;
            font-weight: 300;
        }
        &--success {
            background: map-get($map: $colors, $key: successGreen);
        }
        &:hover {
            border: 1px solid map-get($map: $colors, $key: transLightGray);
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    &__graph {
        margin: 30px 0 0;
        padding-bottom: 30px;
        &__mainCont {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 450px;
            &__tabs {
                display: flex;
                width: 810px;
                &__tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 150px;
                    background: rgba(128, 128, 128, 0.575);
                    margin-bottom: 0;
                    border-radius: 3px 3px 0 0;
                    border-bottom: none;
                    cursor: pointer;
                    &--active {
                        border: none;
                        z-index: 10;
                        margin-bottom: -1px;
                        height: 51px;
                        background: map-get($map: $colors, $key:lightWhite );
                        box-shadow: none;
                    }
                }
            }
            &__graph {
                display: flex;
                justify-content: center;
                width: 810px;
                height: 420px;
                border-radius: 0 3px 3px 3px;
                box-shadow: 0 3px 15px rgba(0, 0, 0, 0.199);
                &--hidden {
                    visibility: hidden;
                    height: 0;
                }
                &--bot {
                    display: flex;
                    flex-direction: column;
                    background: map-get($map: $colors, $key: lightWhite);
                    margin-top: -2px;
                    height: auto;
                }
                &__row {
                    display: flex;
                    justify-content: space-around;
                }
            }
            &__graphNav {
                z-index: 5;
                width: 810px;
                height: 50px;
                background: map-get($map: $colors, $key: lightWhite);
                margin-bottom: -2px;
            }
        }
    }
}

.dashAddWeight {
    position: fixed;
    z-index: 100;
    top: 0;bottom: 0;
    left: 0;right: 0;
    background: rgba(0, 0, 0, 0.725);
    &__modal {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: map-get($colors, lightWhite);
        padding: 50px 30px 30px;
        border-radius: 5px;
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include form;
            label {
                font-weight: 600;
                font-size: 1.15em;
                margin-bottom: 12px;
            }
            &__error {
                width: 100%;
                height: 14px;
                margin-left: 30px;
                color: map-get($map: $colors, $key: error);
                margin-bottom: 5px;
            }
            &__submitBtn {
                @include submitBtn;
                margin-top: 20px;
                width: 140px;
                padding: inherit;
                padding-right: 15px;
            }
        }
        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.3em;
            font-weight: 600;
            cursor: pointer;
            transition: opacity 150ms ease-in-out;
            &:hover {
                opacity: 0.7;
                transition: opacity 150ms ease-in-out;
            }
        }
    }
    &--hidden {
        display: none;
    }
}