.notFound {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 2.4em;
        font-weight: 600;
        margin-bottom: 50px;
    }
    &__btn {
        button {
            @include submitBtn;
            padding: 10px ;
        }
    }
}