.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: map-get($map: $colors, $key: primaryBackground);
    height: 100vh;
    h1 {
        font-size: 1.8em;
        font-weight: 600;
        margin-top: 20px;
    }
    &__error {
        display: flex;
        flex-direction: column;
        justify-content: end;
        color: map-get($map: $colors, $key: error);
        line-height: 1.3;
        padding-bottom: 5px;
        height: 150px;
        width: 560px;
    }
    &__form {
        background: white;
        width: 600px;
        padding: 40px 20px;
        border-radius: 3px;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.247);
        &__logs {
            display: flex;
            width: 100%;
            margin-bottom: 18px;
            &__email, &__password {
                @include form;
                margin: 0 15px;
                width: 250px;
            }
        }
        &__name {
            display: flex;
            width: 100%;
            margin-bottom: 18px;
            &__firstname, &__birthday {
                @include form;
                margin: 0 15px;
                width: 250px;
            }
        }
        &__stats {
            display: flex;
            width: 100%;
            margin-bottom: 18px;
            &__size, &__weight {
                @include form;
                margin: 0 15px;
                width: 180px;
            }
            &__sexe {
                display: flex;
                flex-direction: column;
                margin: 0 15px;
                width: 110px;
                label {
                    margin-bottom: 5px;
                    font-size: 0.9em;
                }
                select {
                    height: 40px;
                    padding-left: 15px;
                    border-color: map-get($map: $colors, $key: transLightGray);
                    background-color: white;
                }
            }
        }
        &__checkCont {
            margin-left: 15px;
            margin-bottom: 30px;
        }
        &__btnCont {
            display: flex;
            justify-content: center;
            margin: 0 15px;
            &__submitBtn {
                @include submitBtn;
                width: 180px;
            }
        }
        &__captcha {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
        }
    }
    &__notConnected {
        @include notConnected;
    }
}