@mixin homeBtn {
    text-decoration: none;
    color: inherit;
    text-align: center;
    border-radius: 2px;
    padding: 15px 0;
    background: map-get($map: $colors, $key:primary );
    color: map-get($map: $colors, $key:lightWhite );
    transition: opacity 150ms ease-in-out;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
        opacity: 0.7;
        transition: opacity 150ms ease-in-out;
    }
}

@mixin submitBtn {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 2px;
    padding: 15px 0;
    background: map-get($map: $colors, $key:primary );
    color: map-get($map: $colors, $key:lightWhite );
    transition: opacity 150ms ease-in-out;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
        transition: opacity 150ms ease-in-out;
    }
}

@mixin form {
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: 5px;
        font-size: 0.9em;
    }
    input {
        height: 40px;
        border: 1px solid map-get($map: $colors, $key: transLightGray);
        padding-left: 15px;
    }
}

@mixin userStatsBmiBfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    h2 {
        margin: 20px 0 90px;
        font-size: 1.4em;
        font-weight: 600;
        color: map-get($map: $colors, $key:lightBlack );
    }
    &__subTitle {
        font-size: 1.1em;
    }
    h3 {
        font-weight: 700;
        color: map-get($map: $colors, $key: lightBlack);
        font-size: 2em;
        margin: 10px 0 70px;
    }
    h4 {
        font-size: 1.2em;
        font-weight: 600;
        margin: 10px 0 70px;
    }
}