@mixin homeBtn {
    text-decoration: none;
    color: inherit;
    text-align: center;
    border-radius: 2px;
    padding: 15px 0;
    background: map-get($map: $colors, $key:primary );
    color: map-get($map: $colors, $key:lightWhite );
    transition: opacity 150ms ease-in-out;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
        opacity: 0.7;
        transition: opacity 150ms ease-in-out;
    }
}

@mixin submitBtn {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 2px;
    padding: 15px 0;
    background: map-get($map: $colors, $key:primary );
    color: map-get($map: $colors, $key:lightWhite );
    transition: opacity 150ms ease-in-out;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
        transition: opacity 150ms ease-in-out;
    }
}

@mixin form {
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: 5px;
        font-size: 0.9em;
    }
    input {
        height: 40px;
        border: 1px solid map-get($map: $colors, $key: transLightGray);
        padding-left: 15px;
    }
}

@mixin bmiSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 600px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.151);
}

@mixin userStatsBmiBfp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background: map-get($colors,  primaryBackground);
    min-height: 100vh;
    h2 {
        margin: 20px 0 80px;
        font-family: 'Fredoka One', cursive;
        font-size: 2em;
        color: map-get($map: $colors, $key:primary );
    }
    &__userSection {
        @include bmiSection;
        margin-bottom: 50px;
        &__subTitle {
            font-size: 1.1em;
        }
        h3 {
            font-weight: 700;
            color: map-get($map: $colors, $key: lightBlack);
            font-size: 2em;
            margin: 10px 0 70px;
        }
        h4 {
            font-size: 1.2em;
            font-weight: 600;
            margin: 10px 0 70px;
        }
    }
    &__tools {
        @include bmiSection;
        margin-bottom: 50px;
        p {
            line-height: 1.4;
            letter-spacing: 0.4px;
            margin-bottom: 10px;
        }
        &__form {
            display: flex;
            flex-direction: column;
            margin: 0 0 30px;
            &__cont {
                display: flex;
                justify-content: space-around;
                &__field {
                    display: flex;
                    flex-direction: column;
                    margin: 0 15px;
                    label {
                        font-size: 0.9em;
                        margin-bottom: 8px;
                    }
                    input {
                        height: 35px;
                        width: 171px;
                        padding-left: 15px;
                    }
                }
            }
            &__btnCont {
                display: flex;
                justify-content: center;
                margin-top: 35px;
                input {
                    @include submitBtn;
                    width: 100px;
                }
            }
        }
        &__error {
            color: map-get($map: $colors, $key:error );
            width: 90%;
            margin: 30px 0 5px;
        }
        &__results {
            text-align: center;
            &__score {
                font-size: 2.4em;
                font-weight: 600;
                color: map-get($map: $colors, $key:primary );
            }
            &--hidden {
                display: none;
            }
        }
        &__interpretation {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0 10px;
            h3 {
                font-size: 1.3em;
                font-weight: 600;
                margin: 30px 0 20px;
            }
            &__array {
                width: 100%;
                display: flex;
                flex-direction: column;
                background: map-get($map: $colors, $key:primaryBackground );
                color: map-get($map: $colors, $key: lightBlack);
                &__row {
                    display: flex;
                    padding: 0 15px;
                    align-items: center;
                    height: 40px;
                    p {
                        line-height: inherit;
                        margin-bottom: 0;
                    }
                    &--alt {
                        background: map-get($map: $colors, $key:primary );
                        color: map-get($map: $colors, $key:lightWhite );
                    }
                    &__score {
                        text-align: end;
                        width: 55%;
                        padding-right: 35px;
                        font-size: 1.1em;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@mixin notConnected {
    margin-top: 200px;
    &__linkCont {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        a {
            @include homeBtn;
            width: 160px;
        }
    }
}

@mixin profilForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px ;
    width: 500px;
    &__errorCont {
        min-height: 15px;
        color: map-get($map: $colors, $key: error);
        text-align: center;
    }
    &__form {
        margin-top: 25px;
        &__row {
            @include form;
            margin-bottom: 25px;
            width: 250px;
        }
        &__btnCont {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            &__btn {
                @include submitBtn;
                width: 100px;
                margin: 0 10px;
            }
        }
    }
    &--hidden {
        display: none;
    }
}