$colors :(
    primary: #0C2E8A,
    error : #d80404,
    lightWhite : #fdfdfd,
    lightBlack: #1b1b1b,
    transLightGray: transparentize(#a5a5a5, 0.5),
    primaryBackground: #EEEEEE,
    successGreen: #5CB85C,
    lightRed: #da0000
);

$screens : (
    toTablet: 1270px 
);